
/* cover image */
body, html {
    height: 100%;
    background-color: #f1f1f1;
}

.bg { 
    /* The image used */
    background-image: url("https://i.imgur.com/SkEz5CR.jpg");

    /* Full height */
    width: 100%;
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-hr {
    height: 2px;
    width: 75%;
    border-width: 0;
    color: rgb(219, 218, 218);
    background-color: rgb(219, 218, 218);
}

.portfo-links {
    display: inline;
    justify-content: center;
    
}

#thumbnail {
    width: 115px;
    height: 115px;
    border: 9px solid rgba(254, 209, 54);
    border-radius: 100%;
}

#panel, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: #585a5c;
    border: solid 2px  rgb(219, 218, 218);
    margin: auto;
    cursor: pointer;
}

#panel {
    display: none;
}
