/* root element to contain global variables */
:root {
    /*  Brand Colors  */
    --resume: #585a5c;
    --linkedin: rgba(254, 209, 54);
    --github: rgba(254, 209, 54);
    --gmail: rgba(254, 209, 54);
    --instagram: rgba(254, 209, 54);
    
    /*  Fonts  */
    --base-font: "montserrat", sans-serif;
}

footer.aqua-go {
    /*  colors  */
    --background: #a3d2ca;
    --background-sub: #5eaaa8;
    --background-inverse: #056766;
    /*  text colors  */
    --text: var(--background);
    --text-inverse: var(--background-inverse);
}

footer.reddy {
    /*  colors  */
    --background: #f1f3de;
    --background-sub: #e8d2e1;
    --background-inverse: #ea5455;
    /*  text colors  */
    --text: var(--background);
    --text-inverse: var(--background-inverse);
}

footer.light {
    /*  colors  */

    --background-inverse: rgba(254, 209, 54);
    /*  text colors  */
    --text: var(--background);
    --text-inverse: var(--background-inverse);
}

footer.dark {
    /*  colors  */
    --background: #1f1f1f;
    --background-sub: #2d3436;
    --background-inverse: #f1f1f1;
    /*  text colors  */
    --text: var(--background);
    --text-inverse: var(--background-inverse);
}

footer {
    font-family: var(--base-font);
    background: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* height: 80vh; */
}

.share {
    --button-width: 250px;
    --button-height: 80px;
    --button-radius: 10px;
    
    width: var(--button-width);
    height: var(--button-height);
    background: var(--background-sub);
    border-radius: var(--button-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform .3s linear;
    overflow: hidden;
}

.share:hover{
    transform: scale(1);
    
}

.share__cover {
    position: absolute;
    z-index: 2;
    background: var(--background-inverse);
    height: 100%;
    width: 100%;
    color: var(--text);
    text-align: center;
    font-size: 1.4em;
    line-height: var(--button-height);
    border-radius: var(--button-radius);
    transition: .4s linear;
}

.share:hover .share__cover {
    transform: translateX(-100%);
}

.share a{
    flex: 1;
    text-align: center;
    color: var(--text-inverse);
    font-size: 30px;
    height: var(--button-height);
    line-height: var(--button-height);
    transform: translate(-100%);
    opacity: 0;
    transition: .2s linear;
}

.share:hover a{
    transform: translateX(0);
    opacity: 1;
}

.share a:hover{
    color: var(--text);
    transform: scale(1.4);  
}



.share__icon--resume:hover {
    background: var(--resume);
}

.share__icon--linkedin:hover {
    background: var(--linkedin);
}

.share__icon--github:hover {
    background: var(--github);
}

.share__icon--gmail:hover {
    background: var(--gmail);
}
.share__icon--instagram:hover {
    background: var(--instagram);
}
